<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LocalDb1" connectionString="Data Source=MR-DB01\MRSLDB;Initial Catalog=ReportingProgram;User ID=memberservices;Password=M3mb3rS3rvic3;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="AdvantageDb1" connectionString="Data Source=192.168.1.237;Initial Catalog=Advantage;User ID=club_badgedrawuser;Password=P@ssw0rd;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="LocalDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\LocalDb.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="AdvantageDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\AdvantageDb.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="32768" executionTimeout="180" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <!-- Comment section to bypass user login -->
    <!-- start -->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Web_Forms/UserLogin.aspx" name="adAuthCookie" timeout="120" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <identity impersonate="true"/>-->
    <!-- end -->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SqlCommandTimeOut" value="240"/>
    <add key ="aspnetspell_key" value="ASPNETSPELL-U1D1FT7FJ3CZ-9182D-CYW10-ENTERPRISE-0NL4R"/>
    <add key="aspnetspell_usecentraldictionary" value="True" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>